matrix:
  include:
  - os: linux
    language: android
    script: flutter build apk --release
    after_success:
      - cd android && fastlane supply init
      - fastlane deploy
      # - fastlane supply --apk build/app/outputs/apk/release/app-release.apk
    android:
      components:
      - build-tools-28.0.3
      - android-27
      - android-28
  - os: osx
    osx_image: xcode10.2
    language: objective-c
    before_script: gem install cocoapods && pod repo update
    script: flutter build ios && cd ios && fastlane release
    env:
      secure: Jp/3rmHmZ+HE6s7Wmrm6dNHdBeAnm6V1I1+kcKvtU8NEN/YBRmRP0TGJSQmwyRben3ogePkRBqAXDnz7/Ocg5v8Jh8qk9VB70J5oBFI2iCCtfxuuq0gTtbj5S117ngfysTY2q8grG1SjwHUoFmy96/kSXSp+KbiBXwUMpemF0ZkwOJKRWPHJ5OeNBnCow4r0IxQnSCxfrPkQ0QuFpr9XAKdEoDB50ICKkl9jZng7oOMbgi1NLd+8q8yNU3O3iicTRwR6Y6mhFDjdy8uto7icPZdVCRBiE0GpqYdbkKSCcvrO/hYRy2wd3pKeE0PvpBdFGu/BLfl2Rl5xil/Y5Gsn7MvWAy03y+PL0hh676fa0ZoOvZplUIBYgarIqCm6PmS/ZujozvjU1q0fu70RG2FBHVzfpc9RbitYyHoDk9EpG5EEdN8tcEjl9BoQb96s/5JVqGrKu+8J1GdRXvC+FawWVgvuHCUQcIaOK+jw6R3ZYTZBh02RrsZluQ/Emxi/HfWiPjwe4UAdhMCRgmh+Rr4FoBfulp7v6Yl+GLHFvv+qVifvHlUqeFPQ0CAnUtYbXi9TSfF/63G+DGkmjw3lhtQjndHSS6CU4H2i4be84Wb+tAFw2dwyrlwXb/VCYSScOUxbr7vzfT6FBk7FJoq/I4XtMphPW5YyvN03KoK+uhsQ+Ds=
install:
- git clone https://github.com/flutter/flutter
- export PATH="$PATH:`pwd`/flutter/bin"
- flutter doctor
- flutter packages get
- gem install bundler fastlane
after_script: ls
notifications:
  email: false
before_install:
- openssl aes-256-cbc -K $encrypted_29727b427600_key -iv $encrypted_29727b427600_iv
  -in credentials.tar.xz.enc -out credentials.tar.xz -d
- tar -xf credentials.tar.xz
- mv android-keystore.jks android/app
- mv key.properties android
- mv google-services.json android/app
- mv GoogleService-Info.plist ios/Runner
- mv api-9048300026487180911-124804-e70b22003165.json android
